@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
    padding-bottom: 70px;
}

.back {
    display: block;
    border-radius: 20px;
    border: 2px solid #0b5ed7; 
    width: 70px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: #eff3f8;
    color: #0b5ed7;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.back:hover {
    background-color: #0b5ed7;
    color: white;
}

p {
    color: #6c757d;
    margin-bottom: 1.5rem;
    margin-top: -15px;
    font-size: 12px;
}

label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="email"], input[type="password"] {
    background-color: rgba(11, 94, 215, 0.27);
    border: none;
}
input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
}
input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #6c757d;
    opacity: 1;
}

.reset {
    width: 100%;
    padding: 0.7rem;
    background-color: #0b5ed7;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.5s;
}
.reset:hover {
    background-color: #074fb9;
}



form {
    text-align: center;
}

input[type="text"] {
    width: 50px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    margin-right: 6px;
    font-weight: 600;
    border: 1px solid #ced4da;
    transition: 0.3s;
    color: #0b5ed7;
}

input[type="text"].highlight {
    border-color: #0b5ed7;
}

.fa-regular {
    font-size: 5rem;
    text-align: center;
    color: #0b5ed7;
}

h2 {
    font-weight: 600;
    
}

#tCenter{
    text-align: center;
}
#sPara{
    text-align: center;
}

label a {
    font-weight: 500;
    text-decoration: none;
    color: #0b5ed7;
}
#tEmail{
    text-align: left;
}
#bottomText{
    margin-top: 6px;
    font-weight: 300;
    color: #6c757d;
    margin-bottom: 1.5rem;
    font-size: 12px;
    text-align: center;
}