@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar-brand .navImg{
    max-width: 170px;
}
.d-flex .btn,.container2 .btn{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
}
.d-flex .btn-outline-primary,.container2 .btn-outline-primary{
    color: #0B5ED7;
    border: 1px solid #0B5ED7;
}
.d-flex .btn-outline-primary:hover,.container2 .btn-outline-primary:hover{
    background-color: #0b53be;
}
.d-flex .btn-outline-primary:focus,.container2 .btn-outline-primary:focus{
    box-shadow: none;
}
.d-flex .btn-primary,.container2 .btn-primary{
    background-color: #0B5ED7;
    color: white;
}
.d-flex .btn-primary:hover,.container2 .btn-primary:hover{
    background-color: #0b53be;
}
.d-flex .btn-primary:focus,.container2 .btn-primary:focus{
    box-shadow: none;
}

/*Home body section*/

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.introduction{
    margin-top: 20px;
    background-color: #dcdfe2;
}
.introduction p{
    text-align: justify;
    margin-top: 8px;
}
.introduction button{
    background: none;
    border: none;
    color: #0B5ED7;
    font-weight: 600;
}

.landText {
    flex: 1;
    margin-left:90px;
}
.landText h1{
    font-size:74px;
    font-weight: 700;
    color: #0b5ed7ff;
}
.landText h2{
    font-size: 45px;
    margin-top: 25px;
    line-height:1.2;
    letter-spacing:0.3px;
    font-weight: 600;
}
.landText p{
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
    max-width: 400px;

}

.landImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landImage img {
    max-width: 100%;
    height: auto;
    margin-right: 90px;
    margin-top: 30px;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Tablet view */

@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
        text-align: center;
    }

    .landImage {
        display: none;
    }
    .landText{
        margin: auto;
    }
}

/* Mobile view */

@media (max-width: 576px) {
    .container2 {
        flex-direction: column;
        text-align: center;
    }

    .landImage {
        display: none;
    }
    .landText{
        margin: auto;
    }
    
}
footer{
    background-color: #031C40;
    color: rgb(197, 197, 197);
}

.modal-body .p-3{
    background-color: #cbcdcf;
    font-weight: 600;
}

/* Modal 1 */

.modal1 .user-selection{
    box-shadow: rgba(25, 95, 224, 0.35) 0px 5px 15px;
    font-weight: 600;
    color: #0B5ED7;
    font-size: 17px;
}
.modal1 .user-selection:hover{
    transform: scale(1.2);
}
.modal1 .modal-content,.modal2 .modal-content,.modal3 .modal-content{
    border-radius: 20px;
}
.modal1 .modal1Body,.modal2 .modal-body{
    padding: 2rem;
}
.modal2 .veri-desc{
    font-size: 12px;
    margin-top: 5px;
}

.modal2 .modal-body h5,.modal3 .modal-body h5{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #0B5ED7;
}
.modal2 .back,.modal3 .back{
    color: #0B5ED7;
    background: white;
    border: 2px solid #0B5ED7;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: 600;
    border-radius: 20px;
}
.modal2 img,.modal3 img{
    animation: float 3s ease-in-out infinite;
}
input[type="submit"]{
    background-color: #0B5ED7;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
input[type="submit"]:hover{
    background-color: #0b53be;
}
input[type="text"],input[type="email"],input[type="password"],.modal2 select,input[type="file"]{
    background-color: rgb(13, 110, 253,27%);
    border: none;
}
.modal2 span{
    cursor: pointer;
    color: #0B5ED7;
}

#submitBtn1:disabled {
    background-color: #ccc;
    cursor: not-allowed; 
    color: #666; 
}


#submitBtn1:disabled:hover {
    background-color: #ccc;
}

#submitBtn2:disabled {
    background-color: #ccc;
    cursor: not-allowed; 
    color: #666; 
}


#submitBtn2:disabled:hover {
    background-color: #ccc;
}