@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar-brand .navImg{
    max-width: 170px;
}
.d-flex .btn,.container2 .btn{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
}
.d-flex .btn-outline-primary{
    color: #0B5ED7;
    border: 1px solid #0B5ED7;
}
.d-flex .btn-outline-primary:hover{
    background-color: #0b53be;
}
.d-flex .btn-outline-primary:focus{
    box-shadow: none;
}
.d-flex .btn-primary{
    background-color: #0B5ED7;
    color: white;
}
.d-flex .btn-primary:hover{
    background-color: #0b53be;
}
.d-flex .btn-primary:focus{
    box-shadow: none;
}

/*Home body section*/

.profileImg{
    width: 200px;
    height: 150px;
    margin: auto;
    margin-bottom: -10px;
}
.profileImg img{
    width: 200px;
    position: relative;
}

.leftText h2{
    font-size:60px;
    font-weight: 700;
    color: #0b5ed7ff;
}
.leftText h1{
    font-size: 50px;
    margin-top: 25px;
    line-height:1.2;
    letter-spacing:0.3px;
    font-weight: 600;
}
.leftText p{
    font-size: 15px;
    text-align: justify;
    margin-top: 17px;
    max-width: 400px;
    display: inline-block;

}
.container .moving img {
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Tablet view */

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        text-align: center;
    }
}

/* Mobile view */

@media (max-width: 576px) {
    .container {
        flex-direction: column;
        text-align: center;
    }   
}
footer{
    background-color: #031C40;
    color: rgb(197, 197, 197);
    margin-top: 25px;
}
input[type="submit"]{
    background-color: #0B5ED7;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
input[type="submit"]:hover{
    background-color: #0b53be;
}
input[type="text"],input[type="email"],input[type="password"],.modal2 select,input[type="file"]{
    background-color: rgb(13, 110, 253,27%);
    border: none;
}

span{
    font-size: 12px;
    margin-top: 5px;
}
.container a{
    text-decoration: none;
}

.g-recaptcha {
    transform: scale(0.95); 
    transform-origin: 0 0;
}